@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*
{
    font-family: 'Open sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-page {
    background: rgb(160, 178, 237);
}
  
.seconde-page {
    background: rgb(84, 101, 160);
}

.footer {
    background: rgb(84, 101, 160);;
}

/* Header */

.logo {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,.7);
    letter-spacing: 0.4em;
    transition: 0.6s;
}

.logo:hover {
    color: white;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 400px;
    width: 100%;
    transition: 0.6s;
    border-bottom: 1px solid #BFBFBF;
}

header.sticky {
    background: #fff;
}

header.sticky .logo {
    letter-spacing: 0px;
    transition: all 0.4s ease;
}

header.sticky .logo:hover {
    color: #000;
}

header.sticky a {
    color: #5465A0;
}


header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
    transition: 0.6s;
}

header ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.6s;
    margin-left: 30px;
    transition: 0.6s;
}

header ul li a:hover {
    letter-spacing: 0.2em;
    transition: all 0.4s ease;
}

.presentation {
    border: 1px solid transparent;
}

/* Bottom */

.first-page {
    height: 1000px;
}

.bottom {
    text-align: center;
}

.bottom p {
    padding-top: 13px;
    color: #768AC5;
    font-weight: bold;
    font-size: 18px;
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.logo2 img {
    width: 18%;
}

.giveaway {
    color: #5465A0;
    font-size: 70px;
}

.bottom svg {
    margin-top: 40px;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #5465A0;
    border-radius: 30px;
    padding: 15px 20px;
}

.btn {
    margin-top: 50px;
}

/* seconde page */

.start {
    font-size: 30px;
    color: #fff;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconde-page p {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 600px;
}

b {
    font-weight: bold;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}